{% extends "graph/base.html" %}
{% load static %}
{%block content %}
<center><h1>Enter Data Points</h1></center>
    {% for data1 in datasets %}
			<div>
        {% if data1.author == user %}
          {{data1.title}}:  {{data1.id}} <br>
          {{data1.content}} <br>
          <a href = "/graph/data/{{data1.id}}/"> Visualize this Data </a> --X--
          <a href = "/graph/data/{{data1.id}}/delete"> Delete This Data</a> <br>
        {% endif %}
			</div>
		{% endfor %}
		<p>
		<center><input id="value" placeholder="value"></center>
		</p>
		<center>
	
		 <form method="post" enctype="multipart/form-data">
        	<input type="file" name="files[]" multiple>
       		 <input type="submit" value="Upload File" name="submit">
   		 </form>
	
    <a href = "{% url 'graph-result'%}"> results </a>
		</center>


{% endblock content %}
