{% extends "graph/base.html" %}
{% load static %}
{%block content %}
<center><h1>Enter Data Points</h1></center>

		<p>
		<center><input id="value" placeholder="value"></center>
		</p>
		<center>

		
 		</div>

    <a href = "{% url 'graph-result'%}"> results </a>
		</center>

      <table class= "table table-hover">
      {% for data1 in datasets %}
  			<div>

          {% if data1.author == user %}
            <tr>
            <!-- {{data1.title}}:  {{data1.id}} <br>
            Xaxis - {{data1.xaxis}} <br>
            Yaxis - {{data1.yaxis}} <br> -->
            <th>{{data1.title}}</th>
            <th><a href = "/graph/data/{{data1.id}}/">Visualize</a></th>
            <th><a href = "/graph/data/{{data1.id}}/delete">Delete</a></th>
            </tr>
          {% endif %}

  			</div>
  		{% endfor %}
      <table>



{% endblock content %}
